/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: #191d3e;
  color: #d0d0d0;
  font-family: monospace;
}
