<form #searchForm="ngForm">
  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
        <input
          type="text"
          class="form-control"
          name="subreddit-name"
          placeholder="Enter subreddit here"
          [(ngModel)]="current_subreddit"
        />
      </div>
      <div class="col-md-2">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ current_category }}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button *ngFor="let category of categories" (click)="onClickCategory(category)" ngbDropdownItem>
              {{ category }}
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="loading">Search!</button>
      </div>
    </div>
  </div>
</form>
