.navbar-bg {
  background-color: #2c3157;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.2em;
}

.navbar-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navLinkSize {
  font-size: 1.2em;
  color: #a0a4d7;
}

.titleSize {
  font-size: 1.2em;
}
