<div class="container" style="text-align:center">
  <div class="row m-4 p-4 title-block">
    <div class="col"></div>
    <h1>
      {{ title }}
    </h1>
    <div class="col"></div>
  </div>

  <div>Access Token: {{ this.redditAuthService.access_token }}</div>
  <div *ngIf="this.redditAuthService.access_token.includes('ERROR')">
    <button class="btn btn-outline-primary m-2" (click)="onReauthClick()">
      Reauthenticate
    </button>
  </div>

  <div class="row m-4 p-4 option-block">
    <div class="col-md-12">
      <app-search-bar
        (sentimentInfo)="onSentimentInfo($event)"
        (onLoading)="onLoading($event)"
        (redditTitle)="onRedditTitle($event)"
        [loading]="loading"
      ></app-search-bar>
    </div>
  </div>

  <div class="row m-4 main-block">
    <app-info-display [loading]="loading" [rawInfo]="rawInfo" [redditTitle]="redditTitle"></app-info-display>
  </div>
</div>

<router-outlet></router-outlet>
