.navbar-bg {
  background-color: #2c3157;
  flex-direction: row;
  padding: 1.2em;
}

.navbar-center {
  justify-content: center;
  flex-direction: row;
}

.navLinkSize {
  font-size: 1.2em;
  color: #a0a4d7;
}

.titleSize {
  font-size: 1.2em;
}
