<h4 class="p-4">About</h4>
<div class="row m-4 p-4">
  <div class="col-md-12">
    <p class="text-center">
      This webapp allows you to put in any subreddit or comment thread into the search bar, and it returns the general "sentiment"
      of the comments and posts. The sorting category and the number of comments/posts to analyze can be customized. "Sentiment"
      just refers to how the sentence comes from or evokes certain feelings/emotions. Sentiment analysis is done by Google Cloud
      sentiment analysis api.
    </p>
    <p>
      Reddit login is required to get subreddit/comment information from reddit (otherwise, reddit thinks I'm spamming them with a
      lot of requests).
    </p>
    <p class="text-center">This website requires cookies to be enabled.</p>
  </div>
</div>
